<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="move_forward_only" default="false"/>
  <arg name="exploration" default="false"/>
  <arg name="map_file" default="/home/shriram/nahar.yaml"/>

  <!-- Map Publishing Node for Exploration-->
  <group if="$(arg exploration)">
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
  </group>

  <!-- Map server for Map-based Navigation-->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_navigation)/rviz/tortoisebot_navigation.rviz"/>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>


  
</launch>
