<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
       
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <arg name="x_pos" default="-7.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.0"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen"/>

  <!-- BEGIN ROBOT 2-->
  <group ns="tb3_0">
    <param name="tf_prefix" value="tb3_0" />
    <include file="$(find multiple_turtlebots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 7 -y -1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="tb3_1">
    <param name="tf_prefix" value="tb3_1" />
    <include file="$(find multiple_turtlebots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0.5 -y 3 -z 0" />
      <arg name="robot_name"  value="Robot3" />
    </include>
  </group>

</launch>
